/* line 28, ../../app/stylesheets/default.sass */
body {
  background: white;
}

/* line 30, ../../app/stylesheets/default.sass */
a {
  color: #4b7399;
  text-decoration: none;
}

/* line 34, ../../app/stylesheets/default.sass */
div#container {
  width: 900px;
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 20px 40px;
  font-size: 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #ffffff), color-stop(33%, #dddddd), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #dddddd 33%, #ffffff 100%);
  background-image: linear-gradient(left, #ffffff 0%, #dddddd 33%, #ffffff 100%);
}
/* line 41, ../../app/stylesheets/default.sass */
div#container h1 {
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}
/* line 45, ../../app/stylesheets/default.sass */
div#container h2 {
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

/* line 50, ../../app/stylesheets/default.sass */
div#menu {
  font-weight: bold;
  float: left;
  width: 100px;
  margin-top: 10px;
}
/* line 55, ../../app/stylesheets/default.sass */
div#menu ul {
  list-style-type: none;
}
/* line 57, ../../app/stylesheets/default.sass */
div#menu ul li:hover {
  background: #dddddd;
}
/* line 59, ../../app/stylesheets/default.sass */
div#menu ul li {
  border: 1px solid black;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: #777777 5px 5px 5px 0;
  -webkit-box-shadow: #777777 5px 5px 5px 0;
  -o-box-shadow: #777777 5px 5px 5px 0;
  box-shadow: #777777 5px 5px 5px 0;
  background: white;
  padding: 2px 5px;
  margin-bottom: 5px;
}
/* line 66, ../../app/stylesheets/default.sass */
div#menu div#picture {
  border: 1px solid black;
}

/* line 69, ../../app/stylesheets/default.sass */
div#content {
  width: 738px;
  background: white;
  border: 1px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #777777 5px 5px 5px 0;
  -webkit-box-shadow: #777777 5px 5px 5px 0;
  -o-box-shadow: #777777 5px 5px 5px 0;
  box-shadow: #777777 5px 5px 5px 0;
  padding: 20px;
  margin: 10px 0 0 20px;
  float: left;
}
/* line 78, ../../app/stylesheets/default.sass */
div#content h3 {
  font-size: 24px;
}
/* line 80, ../../app/stylesheets/default.sass */
div#content h4 {
  font-size: 110%;
  font-style: italic;
}
/* line 83, ../../app/stylesheets/default.sass */
div#content div#list_section, div#content div#table_section {
  font-size: 16px;
  margin-top: 20px;
}
/* line 86, ../../app/stylesheets/default.sass */
div#content div#text_section {
  font-size: 14px;
  margin-top: 20px;
}
/* line 89, ../../app/stylesheets/default.sass */
div#content div#list_section.first, div#content div#table_section.first, div#content div#text_section.first {
  margin-top: 0;
}
/* line 92, ../../app/stylesheets/default.sass */
div#content div#text_section p.first {
  text-indent: 0;
  padding-top: 0;
}
/* line 95, ../../app/stylesheets/default.sass */
div#content div#text_section p {
  text-indent: 20px;
  padding-top: 5px;
}
/* line 100, ../../app/stylesheets/default.sass */
div#content div#list_section ul li {
  margin-left: 20px;
}
/* line 103, ../../app/stylesheets/default.sass */
div#content div#table_section div#row:hover {
  background: #dddddd;
}
/* line 105, ../../app/stylesheets/default.sass */
div#content div#table_section div#row {
  float: left;
  margin: 0;
  padding: 5px 0;
}
/* line 109, ../../app/stylesheets/default.sass */
div#content div#table_section div#row div#col1 {
  float: left;
  font-weight: bold;
  width: 80px;
  text-align: right;
  padding-right: 10px;
}
/* line 115, ../../app/stylesheets/default.sass */
div#content div#table_section div#row div#col2 {
  float: left;
  width: 90px;
}
/* line 118, ../../app/stylesheets/default.sass */
div#content div#table_section div#row div#col3 {
  float: left;
  width: 552px;
}

/* line 124, ../../app/stylesheets/default.sass */
form li.error {
  background: #f48989;
}
/* line 126, ../../app/stylesheets/default.sass */
form li.error p.inline-errors {
  margin-left: 105px;
}
/* line 128, ../../app/stylesheets/default.sass */
form li {
  list-style-type: none;
  padding-right: 100px;
}
/* line 131, ../../app/stylesheets/default.sass */
form li a {
  margin-left: 105px;
}
/* line 133, ../../app/stylesheets/default.sass */
form li label {
  margin: 3px 5px 0 0;
  float: left;
  width: 100px;
  text-align: right;
}
/* line 138, ../../app/stylesheets/default.sass */
form li label.hint {
  text-align: left;
  width: auto;
  margin-left: 105px;
}
/* line 142, ../../app/stylesheets/default.sass */
form li label.no_float {
  float: none;
}
/* line 144, ../../app/stylesheets/default.sass */
form li input {
  width: 400px;
}
/* line 146, ../../app/stylesheets/default.sass */
form li#list_section, form li#table_section, form li#text_section, form div#picture_section {
  padding: 10px 0;
  border: 1px solid grey;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}
/* line 150, ../../app/stylesheets/default.sass */
form li#list_section input, form li#table_section input, form li#text_section input, form div#picture_section input {
  width: 400px;
}
/* line 153, ../../app/stylesheets/default.sass */
form li#list_section ul li, form li#table_section ul li, form li#text_section ul li, form div#picture_section ul li {
  padding: 0;
  margin: 0;
}
/* line 156, ../../app/stylesheets/default.sass */
form li#list_section ul li textarea, form li#table_section ul li textarea, form li#text_section ul li textarea, form div#picture_section ul li textarea {
  padding: 0;
  margin: 0;
  height: 70px;
  width: 400px;
}
/* line 161, ../../app/stylesheets/default.sass */
form li#list_section ul li textarea.col1, form li#table_section ul li textarea.col1, form li#text_section ul li textarea.col1, form div#picture_section ul li textarea.col1 {
  width: 80px;
  margin-left: 105px;
}
/* line 164, ../../app/stylesheets/default.sass */
form li#list_section ul li textarea.col2, form li#table_section ul li textarea.col2, form li#text_section ul li textarea.col2, form div#picture_section ul li textarea.col2 {
  width: 90px;
}
/* line 166, ../../app/stylesheets/default.sass */
form li#list_section ul li textarea.col3, form li#table_section ul li textarea.col3, form li#text_section ul li textarea.col3, form div#picture_section ul li textarea.col3 {
  width: 210px;
}
/* line 168, ../../app/stylesheets/default.sass */
form li#list_section div#category, form li#table_section div#category, form li#text_section div#category, form div#picture_section div#category {
  float: right;
  text-align: right;
  font-size: 120%;
  margin-right: 20px;
}
/* line 173, ../../app/stylesheets/default.sass */
form li#list_section div#category label, form li#table_section div#category label, form li#text_section div#category label, form div#picture_section div#category label {
  font-size: 80%;
}
/* line 175, ../../app/stylesheets/default.sass */
form li#list_section div#category input, form li#table_section div#category input, form li#text_section div#category input, form div#picture_section div#category input {
  margin-top: 5px;
}

/* line 179, ../../app/stylesheets/default.sass */
.thumbnail span {
  position: absolute;
  display: block;
  margin: 0 auto;
}

/* line 186, ../../app/stylesheets/default.sass */
.thumbnail:hover span {
  visibility: visible;
}
