@import "compass/css3/border-radius"
@import "compass/css3/gradient"
@import "compass/css3/box-shadow"

$spacing: 10px
$main_width: 900px
$menu_width: 100px
$content_width: $main_width - $menu_width - 6*$spacing - 2px
$input_field_width: 400px
$label_width: 100px
$label_spacing: 5px
$label_full_width: $label_width + $label_spacing

$col1_width: 80px
$col2_width: 90px
$col3_width: $content_width - $col1_width - $col2_width - $spacing - 6px
$profile_picture_width: 200px
$col1_field_width: $col1_width
$col2_field_width: $col2_width
$col3_field_width: $input_field_width - $col1_field_width - $col2_field_width - 2*10px

$error_colour: #f48989
$hover_colour: #ddd
$link_colour: #4B7399

$h1_size: 28px
$h1_line_height: $h1_size + 6px
$h2_size: 21px
$h2_line_height: $h2_size + 4px


//Page Sections

$list_left_margin: 2*$spacing
$list_top_margin: 2*$spacing
$list_padding: $spacing/2
$list_font_size: 16px
$table_font_size: 16px
$table_row_padding: $spacing/2
$text_font_size: 15px
@mixin table-base
  font-size: $table_font_size
  div#row:hover
    background: $hover_colour
  div#row
    float: left
    margin: 0
    padding: $table_row_padding 0
    div#col1
      float: left
      font-weight: bold
      width: $col1_width
      text-align: right
      padding-right: $spacing
    div#col2
      float: left
      width: $col2_width
    div#col3
      float: left


body
  background: white
a
  color: $link_colour
  text-decoration: none

div#container
  width: $main_width
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif
  padding: 2*$spacing 4*$spacing
  font-size: 14px
  +border-radius(10px)
  +linear-gradient(color-stops(white, #ddd 33%, white), left)
  h1
    font-size: $h1_size
    line-height: $h1_line_height
    text-align: center
  h2
    font-size: $h2_size
    line-height: $h2_line_height
    text-align: center
  div#top_navigation
    div#language_navigation
      float: left
    div#user_navigation
      float: right


div#menu
  font-weight: bold
  float: left
  width: $menu_width
  margin-top: $spacing
  ul
    list-style-type: none
    li:hover
      background: $hover_colour
    li
      border: 1px solid black
      +border-radius(8px)
      +box-shadow(#777,5px,5px,5px)  
      background: white
      padding: 2px 5px
      margin-bottom: 5px    
  div#picture
  
div#content
  width: $content_width
  background: white
  border: 1px solid black
  +border-radius(10px)
  +box-shadow(#777,5px,5px,5px)  
  padding: 2*$spacing
  margin: $spacing 0 0 2*$spacing
  float: left
  h3
    font-size: 24px
  h4
    font-size: 110%
    font-style: italic

  div#text_section.first, div#profile_section.first
    margin-top: 0
  

  //List Section

  div#list_section.first
    margin-top: 0
  div#list_section
    font-size: $list_font_size
    margin-top: $list_top_margin
    ul
      li
        margin-left: $list_left_margin
        padding: $list_padding
      li:hover
        background: $hover_colour

  // Table Section

  div#table_section
    +table-base
    div#row
      div#col3
        width: $col3_width
  div#table_section.first
    margin-top: 0

  div#profile_section        
    +table-base
    img
      float: right
      width: $profile_picture_width
    div#row
      div#col3
        width: $col3_width - $profile_picture_width        


  // Text Section

  div#text_section
    font-size: $text_font_size
    margin-top: 2*$spacing
    p.first
      text-indent: 0
      padding-top: 0
    p
      text-indent: 20px
      padding-top: 5px


  div#pictures, div#papers
    margin-bottom: $spacing


form
  li.error
    background: $error_colour
    p.inline-errors
      margin-left: $label_width + $label_spacing
  p.inline-hints
    margin-left: $label_width + $label_spacing
    font-style: italic
    font-size: 12px
  li
    list-style-type: none
    padding-right: $label_width
    a
      margin-left: $label_width + $label_spacing
    label
      margin: 3px $label_spacing 0 0
      float: left
      width: $label_width
      text-align: right
    label.hint
      text-align: left
      width: auto
      margin-left: $label_full_width
    label.no_float
      float: none
    input
      width: $input_field_width
  input.submit
    margin: $spacing/2 0 0 $label_full_width  
  li#list_section, li#table_section, li#text_section, div#picture, div#paper, li#profile_section
    padding: $spacing 0
    border: 1px solid grey
    +border-radius(8px)
    input
      width: $input_field_width
    ul
      li
        padding: 0
        margin: 0
        textarea
          padding: 0
          margin: 0
          height: 70px
          width: $input_field_width
        textarea.col1
          width: $col1_field_width
          margin-left: $label_width + $label_spacing
        textarea.col2
          width: $col2_field_width
        textarea.col3
          width: $col3_field_width
    div#category
      float: right
      text-align: right
      font-size: 120%
      margin-right: 2*$spacing
      label
        font-size: 80%
      input
        margin-top: 5px

div#bottom_links
  margin-top: $spacing
