@import "compass/css3/border-radius"
@import "compass/css3/gradient"
@import "compass/css3/box-shadow"

$menu_width: 100px
$label_width: 100px
$label_spacing: 5px
$spacing: 10px

$hover_background: #ddd
$link_colour: #4B7399

body
  background: white
a
  color: $link_colour

div#container
  width: 900px
  font: normal 14px "Helvetica Neue", Arial, Helvetica, sans-serif
  font-size: 14px
  +border-radius(10px)
  +linear-gradient(color-stops(white, #ddd 33%, white), left)
  h1
    font-size: 200%
    text-align: center
  h2
    font-size: 150%
    text-align: center

div#menu
  float: left
  width: $menu_width
  margin-top: $spacing
  ul
    list-style-type: none
    li:hover
      background: $hover_background
    li
      border: 1px solid black
      +border-radius(8px)
      +box-shadow(#777,5px,5px,5px)  
      background: white
      padding: 2px 5px
      margin-bottom: 5px

div#content
  margin: $spacing 0 0 2*$spacing
  float: left

form
  li
    list-style-type: none
    padding-right: $label_width
    a
      margin-left: $label_width + $label_spacing
  li
    label
      margin: 3px $label_spacing 0 0
      float: left
      width: $label_width
      text-align: right
  li#list_section, li#table_section
    border: 1px solid grey
    +border-radius(8px)
