<% title "Page" %>

<% @page.sections.each do |section| %>
  <%= render show_template(section), :section => section,
  :first => @page.sections.first == section %>
<% end %>

<div id="bottom_links">
  <% if can? :edit, @page %>
    <%= link_to "Edit", edit_project_page_path(@project,@page) %> |
  <% end %>
  <% if can? :destroy, @page %>
    <%= link_to "Destroy", [@project,@page], :confirm => sure?, :method => :delete %> |
  <% end %>
  <% if can? :index, Page %>
    <%= link_to "View All", project_pages_path(@project) %>
  <% end %>
</div>
