<% title "Page" %>

<% @page.sections.each do |section| %>
  <%= render show_template(section), :section => section,
  :first => @page.sections.first == section %>
<% end %>

<p>
  <%= link_to "Edit", edit_project_page_path(@project,@page) %> |
  <%= link_to "Destroy", [@project,@page], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", project_pages_path(@project) %>
</p>
