<% title @project.title %>
<% subtitle @project.subtitle %>

<div id="menu">
  <ul>
    <% @project.pages.each do |page| %>
      <li><%= page.name %></li>
    <% end %>
  </ul>
</div>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
